.table {
    border: 6px solid;
    margin: auto;
    margin-bottom: 20px;
}

.posicionarCabecalho {
    text-align: center;
}

a {
    color: rgb(223, 233, 233);
}

a:link { 
    text-decoration:none;
}