.table {
    border: 1px solid;
    margin: auto;
    margin-bottom: 20px;
}

.posicionarCabecalho {
    text-align: center;
}

a {
    color: rgb(251, 251, 252);
}

a:link { 
    text-decoration:none;
}